.carousel-clientes
	.owl-wrapper-outer
		.owl-wrapper
			.owl-item
				img
					margin 0 auto
					-webkit-filter grayscale(1)
					transition 0.3s ease
					-webkit-transition 0.3s ease
					&:hover
						-webkit-filter inherit
						transition 0.3s ease
						-webkit-transition 0.3s ease
.carousel-convenios
	.owl-wrapper-outer
		.owl-wrapper
			.owl-item
				img
					margin 0 auto
.carousel-vacuna
	padding 0 35px
	.owl
		&-prev
			top 30%
			background-color transparent
		&-next
			top 30%
			background-color transparent
.owl
	&-prev
		position absolute
		top -28%
		left 0
		font-size 6em
		color $celeste
		background-color white
	&-next
		position absolute
		top -28%
		right 0
		font-size 6em
		color $celeste
		background-color white