.modal-dialog
	position absolute
	left 50%
	top 50%
	transform translate(-50%, -50%) !important
	-webkit-transform translate(-50%, -50%) !important
	margin 0
.modal-content
	border-radius 0
.modal-header
	border 0
	position absolute
	float none
	display inline-block
	right -15px
	top -15px
	margin-top 0
	margin-right 0
	z-index 9999
	.close
		margin 0
		position absolute
		right 0
		top 0
		width 35px
		height 35px
		background-color $celeste
		opacity 1
		font-size 3em
		color white
		border-radius 50%
		&:focus
			outline none
		span
			position relative
			top -8px
.modal-body
	padding 20px 40px
	h2
		font-size 1.5em
		color $celeste
		position relative
		font-family champagne__B
		text-transform uppercase
		&:before
			content ''
			position absolute
			width 5px
			height .8em
			top 6px
			left -15px
			background-color $celeste
	h4
		margin 0
		font-size 1em
		color $celeste
		font-family champagne__B
		text-transform uppercase
.modal-footer
	border 0
	padding-top 0
	.btn
		width 200px
		display block
		margin 0 auto
		background-color mail
		border 0
		margin-bottom 25px
		font-family robotoCond
		font-size 1.2em
		font-weight normal
		text-transform uppercase
		transition 0.3s ease
		&:hover,
		&:focus,
		&:active
			outline none
			background-color amarillo
			-webkit-transition 0.3s ease