.section
	&-quienes
		.article-quienes
			min-height 20em
			padding-top 20px
			padding-bottom 20px
			h2
				text-transform uppercase
				font-family champagne__B
				padding 0 20px
				position relative
				line-height 1em
				margin-bottom .5em
				font-size 2em
				span
					font-family roboto
					font-weight 400
				&:before
					content ''
					width 5px
					height 1em
					position absolute
					display block
					background-color $celeste
					left 0px
			p
				padding 0 20px
			&.content
				&-quienes
					background-color rgba(194,227,244,.6)
				&-hacemos
					background-color rgba(226,242,246,.6)
				&-queremos
					background-color rgba(178,192,198,.6)
		.footer-quienes
			margin-top 3em
			.quienes-block
				background-color white
				margin-top 15px
				.logo
					&-minsa
						padding-top 21px
						padding-bottom 21px
					&-sanofi
						padding-top 24px
						padding-bottom 24px
	&-vacuna
		.box-vacuna
			background-color white
			box-shadow 0px 0px 10px 0 rgba(0,0,0,.3)
			margin 10px 15px
			.title-box
				background-position center center
				background-size cover
				height 10em
				display table
				width 100%
				text-align center
				h4
					display table-cell
					vertical-align middle
					font-family champagne__B
					text-transform uppercase
					font-size 1.5em
			.content-box
				padding 15px
				text-align center
				p
					height 7em
					display -webkit-box
					-webkit-line-clamp 5
					-webkit-box-orient vertical
					overflow hidden
					margin-bottom 1em
					text-overflow ellipsis
				.viewinfo
					position relative
					padding-top 15px
					&:before
						content ''
						position absolute
						width 3em
						height 5px
						background-color $celeste
						margin 0 auto
						top 0
						left 0
						right 0
					a
						text-transform uppercase
						color $celeste
						text-decoration none
			&:nth-child(odd)
				.title-box
					background-image url(../images/bg_vacunas1.jpg)
			&:nth-child(even)
				.title-box
					background-image url(../images/bg_vacunas2.jpg)
	&-esquema
		.title-section
			color white
		.box-esquema
			background-color white
			padding 0
			.image-box
				height 15em
				background-position center center
				background-size cover
				&-1
					background-image url(../images/bg_esquemas1.jpg)
				&-2
					background-image url(../images/bg_esquemas2.jpg)
				&-3
					background-image url(../images/bg_esquemas3.jpg)
			.content-box
				padding 15px 15px 15px 25px
				position relative
				h4
					padding-right 5em
					font-size 1.2em
					line-height 1.2em
					text-transform uppercase
					position relative
					&:before
						content ''
						position absolute
						width 5px
						height 1.2em
						background-color $celeste
						top 0
						left -15px
				h3
					position absolute
					padding 5px 10px
					right 15px
					top 0
					background-color $celeste
					font-family champagne__B
					color white
					font-size 2em
				a
					text-decoration none
					color $celeste
	&-atencion
		.box-atencion
			background-color white
			.title-block
				background-color $celeste
				display table
				height 8em
				text-align center
				width 100%
				h3
					display table-cell
					vertical-align middle
					color white
					font-family champagne__B
					position relative
					text-transform uppercase
					&:before
						content ''
						position absolute
						bottom 20px
						left 0
						right 0
						width 2em
						height 5px
						background-color white
						margin 0 auto
			.content-box
				padding 15px
				text-align center
				min-height 20em
	&-contacto
		.title-section
			margin-bottom 1em
		.box-content
			.map
				background-color white
				padding 10px
				.embed-responsive
					height 13em
			section
				padding 15px
				.address
					padding 5px 0px
					padding-left 15px
					font-family champagne__B
					text-transform uppercase
					h3
						position relative
						color $celeste
						font-size 1.3em
						&:before
							content ''
							position absolute
							left -15px
							top 2px
							width 5px
							height 1em
							background-color $celeste

