@import url('http://fonts.googleapis.com/css?family=Roboto:400,500')
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')

robotoC = 'Roboto Condensed', sans-serif
roboto = 'Roboto', sans-serif

@font-face
	font-family champagne__BI
	src url('../fonts/champagne__limousines_bold_italic-webfont.eot')
	src url('../fonts/champagne__limousines_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/champagne__limousines_bold_italic-webfont.woff2') format('woff2'),
			url('../fonts/champagne__limousines_bold_italic-webfont.woff') format('woff'),
			url('../fonts/champagne__limousines_bold_italic-webfont.ttf') format('truetype'),
			url('../fonts/champagne__limousines_bold_italic-webfont.svg#champagne__limousinesBdIt') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family champagne__B
	src url('../fonts/Champagne__limousines_bold-webfont.eot')
	src url('../fonts/Champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Champagne__limousines_bold-webfont.woff2') format('woff2'),
			url('../fonts/Champagne__limousines_bold-webfont.woff') format('woff'),
			url('../fonts/Champagne__limousines_bold-webfont.ttf') format('truetype'),
			url('../fonts/Champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family champagne__I
	src url('../fonts/champagne__limousines_italic-webfont.eot')
	src url('../fonts/champagne__limousines_italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/champagne__limousines_italic-webfont.woff2') format('woff2'),
			url('../fonts/champagne__limousines_italic-webfont.woff') format('woff'),
			url('../fonts/champagne__limousines_italic-webfont.ttf') format('truetype'),
			url('../fonts/champagne__limousines_italic-webfont.svg#champagne__limousinesitalic') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family champagne__R
	src url('../fonts/champagne__limousines-webfont.eot')
	src url('../fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/champagne__limousines-webfont.woff2') format('woff2'),
			url('../fonts/champagne__limousines-webfont.woff') format('woff'),
			url('../fonts/champagne__limousines-webfont.ttf') format('truetype'),
			url('../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg')
	font-weight normal
	font-style normal