/* background image section
 * --------------------------------------- */
.section
	background-position center center
	background-size cover
	background-repeat no-repeat
#section
	&0
		background-image url(../images/bg_home.jpg)
		background-color #495460
		background-attachment fixed
	&1
		background-image url(../images/bg_quienes.jpg)
	&2
		background-image url(../images/bg_vacunas.jpg)
	&3
		background-image url(../images/bg_esquemas.jpg)
	&4
		background-color #e2f5fe
		background-image url(../images/bg_atencion.jpg)
	&5
		background-color white
	&6
		background rgba(195,220,236,1)
		background linear-gradient(to bottom, rgba(195,220,236,1) 0%, rgba(222,230,238,1) 29%, rgba(231,235,238,1) 100%)
.title-section
	text-align center
	margin-bottom 3em
	h1
		font-size 2.5em
		text-transform uppercase
		text-align center
		position relative
		display inline-block
		margin-bottom 1.3em
		font-family champagne__B
		&:before
			content ''
			position absolute
			width 4em
			height 7px
			background-color $celeste
			left 0
			right 0
			bottom -0.4em
			margin 0 auto
	.description
		width 75%
		margin 0 auto
		display block
		p
			text-align center
.ttle-convenios
	margin-top 3em
.modal
	overflow-y hidden